*{margin:0;padding:0}

.all{
    background: url('../img/bg_signin.jpg') no-repeat;
    height: 1024px;
    background-size: 100% 100%;
    width: 100%;
}

.top{
    position: absolute;
    background-color: #7F4A88;
    height: 60px;
    width: 100%px;
    position: relative;
    background-color: rgba(127,74,136,.29);

}
.top>.logo{ 
    height: 26px;
    width: 78px;
    color: white;
    position: absolute;
    left: 39px;
    top: 17px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 24px;
}
.top>.xian{
    border: 0.5px solid #FFFFFF;
    height: 24px;
    position: absolute;
    left: 135px;
    top: 19px;
}
.top>.title{
    height: 33px;
    width: 109px;
    position: absolute;
    left: 150px;
    top: 14px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.main{
    top: -50px;
}
.main>.login{
    height: 510px;
    width: 557px;
    position: absolute;
    left: 475px;
    top: 225px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 15px;
}
.main>#l1{
    height: 40px;
    width: 70px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    left: 660px;
    top: 278px;
    cursor: pointer;
}
.main>#l2{
    height: 40px;
    width: 70px;
    position: absolute;
    left: 785px;
    top: 278px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #7F4A88;
    letter-spacing: 0;
    border-bottom: 2px solid #7F4A88;
    cursor: pointer;
}
input::-webkit-input-placeholder{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: ArialMT;
    font-size: 14px;
}
.main>#phone{
    border: 1px solid #7F4A88;
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 357px;
    height: 42px;
    width: 410px;
    color: #FFFFFF;
}
.main>#code{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 416px;
    color: #FFFFFF;
    height: 42px;
    width: 289px;
}
.main>#getcode{
    position: absolute;
    left: 853px;
    top: 416px;
    width: 103px;
    height: 42px;
    border-radius: 3px;
    background: #7F4A88;
    border: 0;
    color: #FFFFFF
}
.main>#passworld{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 475px;
    color: #FFFFFF;
    height: 42px;
    width: 410px;
}
.main>#passworlds{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 534px;
    color: #FFFFFF;
    height: 42px;
    width: 410px;
}
.main>#register{
    background: #7F4A88;
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 594px;
    width: 410px;
    height: 42px;
    border: 0;
}
.main>#register>span{
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
}
.main>#ok{
    position: absolute;
    left: 689px;
    top: 657px; 
}
.main>#ok>a{
    font-family: PingFangSC-Regular;
    text-decoration: #FFFFFF;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0;
}
#xian3{
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 955px;
    width: 100%;
}
.foot{
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    position: absolute;
    left:30px;
    top: 982px;
    width: 1440px;
    height: 18px;
}
.main2{
    display: none;
}
.main2{
    top: -50px;
}
.main2>.login{
    height: 510px;
    width: 557px;
    position: absolute;
    left: 475px;
    top: 225px;
    background: #FFFFFF;
    opacity: 0.1;
    border-radius: 15px;
}
.main2>#l1{
    height: 40px;
    width:70px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #7F4A88;
    letter-spacing: 0;
    position: absolute;
    left: 660px;
    top: 278px;
    border-bottom: 2px solid #7F4A88;
}
.main2>#l2{
    height: 40px;
    width:70px;
    position: absolute;
    left: 784px;
    top: 278px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color:#FFFFFF;
    letter-spacing: 0;
}
.main2>.phones{
    border: 1px solid #7F4A88;
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 357px;
    height: 42px;
    width: 410px;
    color: #FFFFFF;
}
.main2>.passworlds{
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 475px;
    color: #FFFFFF;
    height: 42px;
    width: 410px;
}
.main2>#register{
    background: #7F4A88;
    border-radius: 5px;
    position: absolute;
    left: 544px;
    top: 594px;
    width: 410px;
    height: 42px;
    border: 0;
}
.main2>#register>span{
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
}
